@use "./config" as *;

#main_layout {
  width: 100%;
  height: 100vh;

  .bg {
    @include overlayPos(absolute);
    z-index: -1;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      pointer-events: none;
    }

    .img_wrapper {
      @include overlayPos(absolute);

      &.hide {
        display: none;
      }
    }
  }
}
