@use "./config" as *;

#modal_layout {
  @include overlayPos(fixed);
  background-color: #00000076;
  z-index: -2;
  opacity: 0;
  transition: opacity ease-in-out $trans_slow;
  @include flex(center, center);
  backdrop-filter: blur(10px);

  &.active {
    z-index: 1000;
    opacity: 1;
  }

  .center {
    background-color: #00173fa4;
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    position: relative;
  }
}

// *Start Game
.start_game {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  form {
    width: 100%;
    @include flex();
    flex-direction: column;
    position: relative;
    color: $clr_fnt;
    gap: 20px;

    .close_btn {
      @include position(absolute, right, top, -20px, -20px);
      padding: 5px;

      &:active {
        scale: 0.9;
      }

      svg {
        width: 2rem;
        height: 2rem;
        pointer-events: none;
      }
    }

    .form_opt {
      width: 100%;

      &:nth-of-type(even) {
        text-align: right;

        input {
          text-align: right;
        }
      }

      input {
        width: 70%;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        border: 1px solid #ffffffa4;
        border-radius: 10px;
        padding: 10px;
      }

      .note {
        font-size: 1.3rem;
        margin-top: 10px;
        padding-left: 10px;
        color: #fd7878;
        text-transform: uppercase;
      }
    }

    .avatar_wrapper {
      @include flex();
      flex-direction: column;
      gap: 10px;
      width: 100%;

      label {
        font-size: 1.8rem;
      }

      .avis {
        @include flex(space-evenly, center);
        width: 100%;

        .img_btn {
          aspect-ratio: 1/1;
          width: 20%;
          border-radius: 10px;
          overflow: hidden;
          transition: all ease $trans_fast;
          border: 1px solid transparent;
          padding: 2px;
          position: relative;

          &:hover {
            scale: 1.1;
          }

          &.selected {
            border-color: #87ceeb;
          }

          img {
            pointer-events: none;
            border-radius: 10px;
          }
        }
      }
    }

    .start_btn {
      margin-inline: auto;
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      box-shadow: 2px 2px 5px #000714, -2px -2px 5px #003083b5;
      padding: 5px 20px;
      border-radius: 5px;
      background: linear-gradient(120deg, #003083b5, #000714);
      font-family: $fnt_spc;
      margin-top: 10px;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &:not(&:disabled):active {
        background: linear-gradient(-120deg, #003083b5, #000714);
        box-shadow: inset 2px 2px 5px #000714, inset -2px -2px 5px #003083b5;
      }
    }

    .err_msg {
      text-align: center;
      width: 100%;
      font-size: 1.6rem;
      color: #ff0000;
      font-weight: bold;
      opacity: 0;
      scale: 0.5;
      transition: all ease $trans_mid;

      &.active {
        opacity: 1;
        scale: 1;
      }
    }
  }
}
// *End Start Game

// *Pause Game
.modal_opts_wrapper {
  @include flex(center, center, column);
  color: $clr_fnt;
  font-family: $fnt_spc;

  &.settings {
    align-items: flex-start;
  }

  .item {
    font-size: 1.5rem;
    padding: 10px 20px;
    letter-spacing: 0.1rem;
    opacity: 0.5;
    transition: opacity ease $trans_mid;

    &:hover {
      opacity: 1;
    }
  }

  &:not(&.settings) {
    .item:active {
      scale: 0.9;
    }
  }

  .id {
    @include position(absolute, top, right, 10px, 10px);
    font-size: 1.6rem;
    opacity: 0.7;
  }

  .back_btn {
    @include position(absolute, left, top, 20px, 20px);
    font-size: 1.8rem;
    opacity: 0.5;
    transition: opacity ease $trans_mid;
    padding: 5px;

    &:hover {
      opacity: 1;
    }

    &:active {
      scale: 0.9;
    }

    svg {
      pointer-events: none;
    }
  }
}
// *End Pause Game

// *Set Sound
.settings {
  &.revert {
    .item {
      justify-content: center;
      gap: 5px;
    }
  }

  .item {
    @include flex(flex-start, center);
    width: 100%;
    gap: 10px;

    label {
      width: 30%;

      &:has(+ input[type="checkbox"], + input[type="radio"]) {
        cursor: pointer;
        position: relative;

        &:before,
        &:after {
          content: "";
          @include position(absolute, right, top, 0, 50%);
          @include uniTranslate(Y, -50%);
          aspect-ratio: 1/1;
          border-radius: 2px;
        }

        &::before {
          background-color: #fff;
          width: 12px;
          right: -24px;
        }

        &::after {
          background-color: #00173f;
          width: 9.5px;
          right: -22.7px;
          opacity: 0;
          transition: all ease $trans_mid;
        }
      }

      &:has(+ input[type="checkbox"]:checked, + input[type="radio"]:checked) {
        &:after {
          opacity: 1;
        }
      }
    }

    input {
      cursor: pointer;

      &[type="checkbox"],
      &[type="radio"] {
        visibility: hidden;
        pointer-events: none;
      }

      &.range {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 3px;
        background-color: #d5d5d5;

        &::-webkit-slider-runnable-track {
          -webkit-appearance: none;
          height: 3px;
        }

        &::-moz-track {
          -moz-appearance: none;
          height: 3px;
        }

        &::-ms-track {
          appearance: none;
          height: 3px;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          aspect-ratio: 1/1;
          width: 13px;
          background-color: red;
          border-radius: 50%;
          margin-top: -5px;
          background-color: #3e78dc;
          border: none;
          outline: none;
        }

        &::-moz-range-thumb {
          -moz-appearance: none;
          aspect-ratio: 1/1;
          width: 13px;
          background-color: red;
          border-radius: 50%;
          margin-top: -5px;
          background-color: #3e78dc;
          border: none;
        }

        &::-ms-thumb {
          appearance: none;
          aspect-ratio: 1/1;
          width: 13px;
          background-color: red;
          border-radius: 50%;
          margin-top: -5px;
          background-color: #3e78dc;
          outline: none;
        }
      }
    }
  }
}

// *End Set Sound
