@use "./config" as *;
@use "./defaults";
@use "./mainlayout";
@use "./home";
@use "./modal_layout";
@use "./maingame";

.sml_cubes_wrapper {
  @include overlayPos(fixed);
  perspective: 1000px;
  transform-style: preserve-3d;

  .sml_cube {
    --cubeWidth: 10px;
    position: absolute;
    top: 200px;
    left: 100px;
    width: var(--cubeWidth);
    aspect-ratio: 1/1;
    transform-style: preserve-3d;
    animation: cubeRotate 3s linear infinite;

    .sml_cube_sides {
      @include overlayPos(absolute);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.5px;

      &.face {
        transform: translateZ(calc(var(--cubeWidth) / 2));
      }

      &.back {
        transform: rotateY(180deg) translateZ(calc(var(--cubeWidth) / 2));
      }

      &.top {
        transform: rotateX(90deg) translateZ(calc(var(--cubeWidth) / 2));
      }

      &.bottom {
        transform: rotateX(-90deg) translateZ(calc(var(--cubeWidth) / 2));
      }

      &.right {
        transform: rotateY(90deg) translateZ(calc(var(--cubeWidth) / 2));
      }

      &.left {
        transform: rotateY(-90deg) translateZ(calc(var(--cubeWidth) / 2));
      }

      .clr_box {
        animation: clrBoxAnim 2s linear infinite;
      }
    }
  }
}

.media_loading {
  @include overlayPos(absolute);
  @include flex(center, center);
  background-color: #000b1d;
  z-index: 1;
  pointer-events: none;

  svg {
    font-size: 1.5rem;
    animation: spinAnim 1s linear infinite;
  }
}

// *Confirmation
.confirm_wrapper {
  color: $clr_fnt;
  font-size: 1.5rem;

  &.comp {
    background-color: #00173fa4;
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    position: relative;
  }

  .question {
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .btns_wrapper {
    @include flex(center, center);
    margin-top: 20px;
    gap: 20px;

    button {
      padding: 5px;
      position: relative;
      font-family: $fnt_spc;
      border-radius: 10px;
      width: 50px;
      color: darken($clr_fnt, 40%);
      box-shadow: 2px 2px 5px #000b1ec8, -2px -2px 5px #6190e0a5;
      transition: color ease $trans_mid;

      &:hover {
        color: $clr_fnt;
      }

      &:active {
        box-shadow: inset 2px 2px 5px #000b1ec8, inset -2px -2px 5px #6190e0a5;
      }
    }
  }
}
// *End Confirmation

#about {
  @include flex(center, center, column);
  color: $clr_fnt;
  font-size: 1.8rem;
  line-height: 1.5;

  a {
    text-decoration: underline;
    transition: all ease $trans_mid;

    &:hover {
      text-decoration: none;
      color: $clr_orange;
    }
  }
}

@keyframes cubeRotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes clrBoxAnim {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes spinAnim {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
